/* section {
    padding: 40px 20px 40px;
} */

.body {
    font-family: "Lato", sans-serif;
	background-color: #fff;
}


/* .navbar {
	background: #DC6A1C;
    margin-bottom: 10px;
    border-radius: 0;
} */
.navbar {
	margin-bottom: 0;
    background:#ff6f00;
    color: #fff;
    border: 0;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 4px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
	
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: royalblue;
    transition: all .3s ease-in-out;
    background-color: rgba(255, 0,0 , 0.6) !important;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: royalblue;
    background-color: #fff;

}

  /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	background: #DC6A1C;
	margin-bottom: 0;
	border-radius: 0;
}
    
  /* Add a gray background color and some padding to the footer */
footer {
	
	padding: 25px;
}

    /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 10px;
	
}
.row.content {height:auto;} 
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 0 5px 5px 0;

	
}
#mySidenav a:hover {
    left: 0;
	
}

#about {
    
    background-color: red;
}

#blog {
    top: 80px;
    background-color: red;
}   