.navbar {
	background: #DC6A1C;
    margin-bottom: 10px;
    border-radius: 0;
}
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
    
    /* Set gray background color and 100% height */
.sidenav {	
	padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
    
    /* Set black background color, white text and some padding */
footer {
	background-color: #FF8C42;
	font-size:20px;
	color: #A23E48;
}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 10px;
}
.row.content {height:auto;} 
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}
#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

/* #projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555
} */
.card {
	font-size:50px;
	font-weight:bolder;
	color:#e9ee22;
    text-align:center; 
	line-height:150px;
    height: 150px;
    background: #bbb;/* rgba(255, 0, 0 , 0.4); */
    background-size: cover;
    background-position: center;
    border: solid 1px #ccc;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
