
/* 內容畫面 */

.card_card01{
	padding:0px 0px 0px 0px;
}

.card_card02{
	color:#000;	
	
}

.pro_img{
	float: right;
	height:500px;
	width:450px;
	border:solid, 1px, black;
}

#pro_info{
	margin:20px 0px 20px 0px;
	
}

#form1{
	margin-bottom:20px;
}

#quantity{
	margin:20px 0px 20px 0px;
}
.form-control{
	width:300px;
	height:40px;	
}

.buy{
	width:300px;
	height:40px;
}

.btn{
	/* background:#3d9be9; */
	background:#f78e05;
	color:#fff;
}
