/* 標題&漢堡欄 */

/* section { */
/*     padding: 40px 0px 40px; */
/* } */

/* .body { */
/*     font-family: "Lato", sans-serif; */
/*     background-color: #fff; */
/* } */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

/* .navbar { */
/*     margin-bottom: 0; */
/*      background:#3d9be9; */
/*     background: #f78e05; */
/*     height: 50px; */
/*     font-size: 16px; */
/*     line-height: 50px; */
/*     letter-spacing: 4px; */
/*     border-radius: 0; */
/* } */
 /*標頭右側顯示文字及背景顏色顯示*/ 

/* .navbar li a, */
/* .navbar .navbar-brand { */
/*     color: #2d5f72 !important; */
/* } */

/* .navbar-nav li a:hover, */
/* .navbar-nav li.active a { */
/*     color: royalblue; */
/*     transition: all .3s ease-in-out; */
/*     background-color: rgba(255, 204, 152, 0.5) !important; */
/* } */

/* .navbar-default .navbar-nav>li>a:hover, */
/* .navbar-default .navbar-nav>li>a:focus { */
/*     color: royalblue; */
/*     background-color: #ffff98; */
/* } */

/* .navbar-default .navbar-toggle { */
/*     border-color: transparent; */
/*     color: #ff0 !important; */
/* } */

/* .logo { */
/*     color: royalblue; */
/*     font-size: 80px; */
/* } */

/* body { */
/*     font: 400 15px Lato, sans-serif; */
/*     line-height: 2; */
/*     color: #000; */
/* } */



 /* Sidebar CSS*/ 

/* #wrapper { */
/*     padding-left: 0; */
/*     -webkit-transition: all 0.5s ease; */
/*     -moz-transition: all 0.5s ease; */
/*     -o-transition: all 0.5s ease; */
/*     transition: all 0.5s ease; */
/* } */

/* #wrapper.toggled { */
/*     padding-left: 220px; */
/* } */

/* #wrapper.toggled #sidebar-wrapper { */
/*     width: 220px; */
/* } */

/* #sidebar-wrapper { */
/*     z-index: 1000; */
/*     left: 220px; */
/*     width: 0; */
/*     height: 100%; */
/*     margin-left: -220px; */
/*     overflow-y: auto; */
/*     overflow-x: hidden; */
/*     background:#66b0ed; */
/*     background: #EAA745; */
/*     background: rgba(234, 167, 69, 0.8); */
/*     background: rgba(100, 100, 100, 0.8); */
/*     -webkit-transition: all 0.5s ease; */
/*     -moz-transition: all 0.5s ease; */
/*     -o-transition: all 0.5s ease; */
/*     transition: all 0.5s ease; */
/* } */

/* #sidebar-wrapper::-webkit-scrollbar { */
/*     display: none; */
/* } */


 /*Sidebar hamburger CSS*/ 

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    top: -5px;
    left: 0px;
    height: 2px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}


/* /* Sidebar nav styles */ 

/* .sidebar-nav { */
/*     position: absolute; */
/*     top: 0; */
/*     width: 220px; */
/*     margin: 0; */
/*     padding: 0; */
/*     list-style: none; */
/* } */

/* .sidebar-nav li { */
/*     position: relative; */
/*     line-height: 20px; */
/*     display: inline-block; */
/*     width: 100%; */
/* } */

/* .sidebar-nav li:before { */
/*     content: ''; */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     z-index: -1; */
/*     height: 100%; */
/*     width: 3px; */
/*     background-color: royalblue; */
/*     -webkit-transition: width .2s ease-in; */
/*     -moz-transition: width .2s ease-in; */
/*     -ms-transition: width .2s ease-in; */
/*     transition: width .2s ease-in; */
/* } */

/* .sidebar-nav li:first-child a { */
/*     color: #fff; */
/*     background-color: rgba(150, 150, 150, 0.5); */
/* } */

/* .sidebar-nav li:nth-child(2):before { */
/*     background-color: rgba(150, 150, 150, 0.5); */
/* } */

/* .sidebar-nav li:nth-child(3):before { */
/*     background-color: rgba(150, 150, 150, 0.5); */
/* } */

/* .sidebar-nav li:nth-child(4):before { */
/*     background-color: rgba(150, 150, 150, 0.5); */
/* } */

/* .sidebar-nav li:nth-child(5):before { */
/*     background-color: rgba(150, 150, 150, 0.5); */
/* } */

/* .sidebar-nav li:nth-child(6):before { */
/*     background-color: rgba(150, 150, 150, 0.5); */
/* } */

/* .sidebar-nav li:hover:before, */
/* .sidebar-nav li.open:hover:before { */
/*     width: 100%; */
/*     -webkit-transition: width .2s ease-in; */
/*     -moz-transition: width .2s ease-in; */
/*     -ms-transition: width .2s ease-in; */
/*     transition: width .2s ease-in; */
/* } */

/* .sidebar-nav li a { */
/*     display: block; */
/*     color: #ddd; */
/*     text-decoration: none; */
/*     padding: 10px 15px 10px 30px; */
/* } */

/* .sidebar-nav li a:hover, */
/* .sidebar-nav li a:active, */
/* .sidebar-nav li a:focus, */
/* .sidebar-nav li.open a:hover, */
/* .sidebar-nav li.open a:active, */
/* .sidebar-nav li.open a:focus { */
/*     color: #fff; */
/*     text-decoration: none; */
/*     background-color: transparent; */
/* } */

/* .sidebar-nav>.sidebar-brand { */
/*     height: 65px; */
/*     font-size: 20px; */
/*     line-height: 44px; */
/* } */

/* .sidebar-nav .dropdown-menu { */
/*     position: relative; */
/*     width: 100%; */
/*     padding: 0; */
/*     margin: 0; */
/*     border-radius: 0; */
/*     border: none; */
/*     background-color: #222; */
/*     box-shadow: none; */
/* } */


    
/*     Set height of the grid so .sidenav can be 100% (adjust as needed) */
/* .row.content {height: 450px} */
    
/*     Set gray background color and 100% height */
/* .sidenav {	 */
/* 	padding-top: 20px; */
/*     background-color: #f1f1f1; */
/*     height: 100%; */
/* } */
/* .navbar-nav li a:hover, .navbar-nav li.active a { */
/*     color: #eee; */
/*     transition: all .3s ease-in-out; */
/*     background-color: rgba(255, 0,0 , 0.6) !important; */
/* } */
 
 
 /* Set black background color, white text and some padding */
footer {
/* 	background-color: #FF8C42;
	font-size:20px; */
	color: #A23E48;
}
    
/*     On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 10px;
}
.row.content {height:auto;} 
}

/* #mySidenav a { */
/*     position: absolute; */
/*     left: -80px; */
/*     transition: 0.3s; */
/*     padding: 15px; */
/*     width: 100px; */
/*     text-decoration: none; */
/*     font-size: 20px; */
/*     color: white; */
/*     border-radius: 0 5px 5px 0; */
	
/* } */
/* #mySidenav a:hover { */
/*     left: 0; */
/* } */

/* #about { */
/*     top: 20px; */
/*     background-color: #4CAF50; */
/*    background: linear-gradient(to right, red , yellow); */
/* } */

/* #blog { */
/*     top: 80px; */
/* 	background: linear-gradient(to bottom right, red, yellow); */
/*     background-color: #2196F3; */
/* } */

/* #projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555
} */
.card {
	font-size:50px;
	font-weight:bolder;
	color:#FFA58A;
    text-align:center; 
	line-height:150px;
    height: 150px;
    background: #ddc;/* rgba(255, 0, 0 , 0.4); */
    background-size: cover;
    background-position: center;
    border: solid 1px #ccc;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
