
/* 內容畫面 */

.card01{
	padding:0px 0px 0px 0px;
}

.card02{
	color:#000;	
}

#ipt1{
	margin:10px 10px 10px 10px;
}

/* #lb{ */
/* 	margin-right:20px; */
/* } */

/* .tx1{ */
/* 	width:300px; */
/* 	margin-right:20px; */
/* 	border:solid 1px black; */
/* 	background:rgba(255 ,255 ,150 ,50); */
/* } */

/* .txa1{ */
/* 	width:300px; */
/* 	height:200px; */
/* 	border:solid 1px black; */
/* 	background:rgba(255 ,255 ,150 ,50); */
/* } */

#bt_area{
	
	margin:20px 0px 20px 0px;
	text-align:center;
}

.btn1{
	font-weight:bold;
	border:1px solid #AAA;
	background:#f78e05;	
	color:#fff;
}	

/* .btn2{ */
/* 	background:#969696; */
/* 	margin:20px 0px 20px 0px; */
/* } */

font{
	margin-right:20px;
}