/* 內容 */

.card01{
	padding:0px 0px 0px 0px;
}

.card02{
	color:#000;	
}

#img_area{
	float: right;
	height:400px;
	width:400px;
	border:solid, 1px, black;
}

.pro_img{
	height:400px;
	width:400px;
}

#info_area{
	width:400px;
	
}

#fc_introduction{
	width:300px;
	height:300px;
}

#line{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: 2px solid #CCC;
}

#sponsor_area{
	width:300px;
	height:200px;
}

#sponsor_money{
	margin:20px 0px 20px 0px;
}

#bt_area{
	width:300px;
	height:50px;
	margin:20px 0px 20px 0px;
	
}

.btn1{
	color:#fff;
	font-weight:bolder;
	background:#f78e05;
}

.box-title{
	font-weight: bold;
}

.mes_by{
	font-weight: bold;
	color: #0080ff
}

#btn3{
	background:#f78e05;
	border:  1px solid #CCC; 
}