/* 內容 */

#r2{
	margin-top: 100px;
}

/* #part_line{ */
/* 	border: 5px solid rgba(247, 142, 5, 0.5); */
/* 	margin-bottom: 20px; */
/* } */

.card01{
	padding:0px 0px 0px 0px;
}

.card02{
	color:#000;	
}

#img_area{
	float: right;
	height:400px;
	width:400px;
	border:solid, 1px, black;
}

@media screen and (max-width:768px ) and (max-height: 768px){
#img_area{
	float: right;
	height:300px;
	width:300px;	
	border:solid, 1px, black;
}

.pro_img{
	height:300px;
	width:300px;
}
}

#info_area{
	width:400px;
	
}

#fc_introduction{
	width:350px;
	height:auto;
}

#line{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: 2px solid #CCC;
}

#sponsor_area{
	width:300px;
	height:200px;
}

#sponsor_money{
	margin:20px 0px 20px 0px;
}

#bt_area{
	width:300px;
	height:50px;
	margin:20px 0px 20px 0px;
	
}

/* .btn1{ */
/* 	color:#fff; */
/* 	font-weight:bolder; */
/* 	background:#f78e05; */
/* } */

.btn1{
	margin:20px 0px 20px 0px;
	background:#f78e05;
	color: #FFF;
	border: 1px solid #CCC;
}

.btn2{
	margin:20px 0px 20px 0px;
	background:#FFF;
	color: #f78e05;
	border: 2px solid #f78e05;
}

.box-title{
	font-weight: bold;
}

.mes_by{
	font-weight: bold;
	color: #0080ff
}

#btn3{
	background:#f78e05;
	border:  1px solid #CCC; 
}

#s2{
	padding-top: 30px;
}

/*小圖展示區@Harmony*/
.pic_address {
	padding-top: 20px;
/* 	margin-left: 10px; */
	width: 400px;
	overflow: hidden;
}
/* .pic_address img {
	margin-right: 10px;
} */
.pic_address img {
	width: 80px;
    height: 80px;
    vertical-align: middle;
}
/*小圖展示結束*/