@CHARSET "UTF-8";


#title{
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	background: rgba(243, 156, 18, 0.2);
}

.mailbox-star{
	text-align:center;
	
}

.mailbox-name{
	text-align:center;
}


#btn_area{
	height: 30px;
}
#status{
	color: #F00;
	width: 130px;
	height: 30px;
	display: inline;
}

#btn1{
	margin-right: 10px;
	
}

#btn2{
	margin-right: 10px;
}

#btn3{
	height: 30px;
	vertical-align:top;
}