/* 標題&漢堡欄 */

/* section { */
/*     padding: 40px 0px 40px; */
/* } */

.body {
    font-family: "Lato", sans-serif;
    background-color: #fff;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}
/* 內容畫面 */


/*On small screens, set height to 'auto' for sidenav and grid 

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 10px;
    }
    .row.content {
        height: auto;
    }
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    background-color: red;
}

#blog {
    top: 80px;
    background-color: red;
}*/