/* 內容 */

.card01{
	padding:0px 0px 0px 0px;
}

.card02{
	color:#000;	
}

#img_area{
	float: right;
	height:400px;
	width:400px;	
	border:solid, 1px, black;
}

#pro_img{
	float: right;
	height:400px;
	width:400px;
	
}

#info_area{
	width:400px;
}

#pro_introduction{
	width:300px;
	height:300px;
}

#line{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: 2px solid #CCC;
}

#buy_area{
	width:300px;
	height:200px;
}

#quantity{
	margin:20px 0px 20px 0px;
}

#bt_area{
	width:300px;
	height:100px;
	margin:20px 0px 20px 0px;
	color: #FFF;
	
}

.btn1{
	margin:20px 0px 20px 0px;
	background:#f78e05;
}

.btn2{
	margin:20px 0px 20px 0px;
	background:#969696;
}
