
/* 內容畫面 */

.card01{
	padding:0px 0px 0px 0px;
}

.card02{
	color:#000;	
}

.pro_img{
	float: right;
	height:500px;
	width:450px;
	border:solid, 1px, black;
}

#ipt1{
	margin:10px 10px 10px 10px;
}

#lb{
	font-weight:normal;
	margin-right:20px;
}

.tx1{
	width:300px;
	
	margin-right:20px;
	border:solid 1px black;
	background:#ffff96;
}

.txa1{
	width:300px;
	height:200px;
	border:solid 1px black;
	background:#ffff96;
}

#bt{
	width:300px;
	height:50px;
	margin:20px 0px 20px 0px;
	color:#fff;
}

.btn1{
	background:#f78e05;
	color:#fff;
}	

.btn2{
	background:#969696;
	color:#fff;
}

font{
	margin-right:20px;
}